@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	background: #f9f3db url(../images/bg.jpg);
}

.wrap {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

#main {
	padding: 0;
	margin: 0;
	background: url(../images/header.jpg) repeat-x;
}

img {
	margin: 0;
	border: none;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

p img.left {
	float: left;
	margin: 5px 8px 8px 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
}

p img.right {
	float: right;
	margin: 5px;
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.7em;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 10px;
}

h6 {
	font-size: 8px;
}

/*	General Links			*/
a:link,a:active,a:visited,a:hover {
	color: #d36c07;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #222;
}

/*	Top      		*/
#top {
	margin: 0 0 6px 0;
	padding: 0;
}

/*	Header       		*/
#header {
	margin: 0;
	height: 110px;
	padding: 0 10px;
}

#header h1 {
	margin: 0;
	padding: 0;
	background: url(../images/logo.png) no-repeat;
	height: 130px;
	text-indent: -9999px;
}

.head-left {
	float: left;
	width: 580px;
}

.head-right {
	float: right;
	width: 340px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	margin: 35px 0 0 0;
	color: #fcfbee;
	text-align: right;
}

/*	Nav       		*/
#nav {
	height: 35px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav ul {
	margin: 0 10px 0 0;
	padding: 6px 0 5px 0;
	list-style: none;
	float: right;
	background: #d36b05;
}

#nav li {
	float: left;
	margin: 0;
	padding: 0;
}

#nav ul li a:link,#nav ul li a:active,#nav ul li a:visited {
	display: block;
	margin: 0;
	padding: 5px 13px;
	border-left: 1px solid #f07803;
	border-right: 1px solid #b55a00;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #f5b326;
	text-transform: uppercase;
}

#nav ul li a:hover {
	display: block;
	color: #fff;
	text-decoration: underline;
}

.current_page_item a:link,.current_page_item a:visited,.current_page_item a:active
	{
	color: #fff !important;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li:hover ul {
	left: auto;
	display: block;
}

#nav li:hover ul,#nav li.sfhover ul {
	left: auto;
}

/*	Featured      		*/
#featured {
	background: url(../images/fea-bg.png) repeat-x;
	height: 365px;
	padding: 15px 0 0 35px;
}

#featured h1 {
	font-size: 42px;
	line-height: 1.2em;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 30px;
}

#featured p {
	color: #706e64;
	font-size: 16px;
	text-align: center;
}

.fea {
	background: url(../images/fea-img.jpg) no-repeat;
	padding: 10px;
	width: 424px;
	height: 335px;
	float: left;
	margin-right: 20px;
}

.fea2 {
	padding: 10px;
	width: 424px;
	height: 335px;
	float: left;
	margin-right: 20px;
}

.fea img {
	padding: 31px 0 0 10px;
	width: 344px;
	height: 255px;
}

/* Featured Slider */
.stepcarousel {
	position: relative;
	overflow: scroll;
	width: 355px;
	height: 335px;
	margin: 0;
}

.stepcarousel .belt {
	position: absolute;
	left: 0;
	top: 0;
}

.stepcarousel .panel {
	float: left;
	overflow: hidden;
	width: 355px;
	margin: 0;
}

.more a {
	width: 214px;
	height: 47px;
	display: block;
	overflow: hidden;
	margin-top: 40px;
	margin-left: 188px;
	float: left;
	margin-right: 15px;
	display: block;
}

/*	Container      		*/
#container {
	padding: 0px;
	margin: 30px 0 0 0;
}

.clear {
	clear: both;
}

/*	Left Container      		*/
#left-container-menu {
	width: 147px;
	float: left;
	padding-right: 5px;
	border-right: 1px solid #e4d5a8;
	position: fixed;
}
#left-container-contact {
	width: 474px;
	float: left;
	padding-right: 5px;
	border-right: 1px solid #e4d5a8;
}
#left-container {
	width: 340px;
	float: left;
	padding-right: 5px;
	border-right: 1px solid #e4d5a8;
}

#left-container h3 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	line-height: 1.1em;
}

.projects {
	background: #e5d39c;
	padding: 5px;
	width: 305px;
	margin-top: 25px;
}

.projects img {
	padding: 5px;
	width: 140px;
	height: 80px;
}

/*	Right Container      		*/
#right-container-menu {
	width: 665px;
	float: left;
	margin-left: 180px;
	padding-left: 10px;
	position: relative;
}

.left {
	width: 300px;
	position: relative;
	float: left;
}

.right {
	width: 300px;
	position: relative;
	float: right;
}

.price {
	padding-left: 5px;
}

#right-container-contact {
	width: 461px;
	float: right;
	margin-left: 18px;
}

#right-container {
	width: 570px;
	float: left;
	margin-left: 18px;
	padding-left: 10px;
}

#right-container h2 {
	font-size: 30px;
	line-height: 1.1em;
	margin-bottom: 15px;
}

#right-container h3 {
	font-size: 22px;
	line-height: 1.1em;
	margin-bottom: 15px;
}

.welcome {
	margin-bottom: 20px;
	font-size: 13px;
}

.welcome ul li {
	list-style: disc;
	margin: 5px 0;
	padding: 3px 0;
}

.services {
	
}

.service-articles {
	width: 270px;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
	line-height: 1%;
}

.service-articles p {
	margin: 0 0 0 60px;
	padding: 0;
}

.service-articles img {
	float: left;
	margin: 5px 10px 0 0;
}

.teaminfo h4 {
	margin-bottom: 10px;
}

.teaminfo {
	padding-top: 25px;
}

.teaminfo img {
	float: left;
	margin: 0 10px 0 0;
	padding: 5px;
	border: 1px solid #e4d5a8;
}

.port a {
	width: 214px;
	height: 47px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	margin-top: 40px;
	margin-left: 60px;
	display: block;
	background: url(../images/port.jpg) no-repeat;
}

.skill {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #e4d5a8;
}

.skill ul {
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
}

.skill ul li {
	margin: 4px 0;
	padding: 5px 20px;
	background: url(../images/li.png) 2px no-repeat;
	list-style: none;
	float: left;
	width: 130px;
}

/*	Portfolio      		*/
#portfolio {
	
}

.leftSideMenu{
	width: 320px;
	float: left;
	margin: 10px 0 20px 0;
	padding: 0;
}
.port-article {
	width: 320px;
	float: left;
	margin: 10px 0 20px 0;
	padding: 0;
}

.port-article img,.port-article h2,.port-article p {
	padding-left: 10px;
}

/*	Main Contact Form			*/
.main-contact-form form {
	padding: 0;
	margin: 20px 0 0 0;
}

.main-contact-form form p {
	margin: 0 0 10px 0;
	padding: 0;
}

.main-contact-form fieldset {
	border: 1px solid #e4d5a8;
	margin: 0 0 0 0;
	padding: 7px 0 0 15px;
}

.main-contact-form input,.main-contact-form textarea,a {
	outline: none;
}

.main-contact-form input {
	width: 200px;
	margin: 2px 0 6px 0;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: none;
	border-right: none;
	background: #fff;
	height: 18px;
	font-size: 12px;
	padding: 3px 0 3px 5px;
	color: #222;
}

.main-contact-form select {
	width: 208px;
	line-height: 1.7em;
	margin-bottom: 10px;
}

.main-contact-form label {
	display: block;
	font-size: small;
	float: left;
	margin: 0 10px 0 0;
	padding: 7px 0 0 0;
	width: 90px;
}

.main-contact-form textarea {
	width: 300px;
	height: 150px;
	display: block;
	border: 1px solid #bbb;
	background: #fff;
	margin: 6px 0 0 0;
	padding: 5px 0 0 5px;
	font-size: small;
	color: #111;
}

.main-contact-form input.submit {
	color: #000;
	height: 30px;
	margin: 10px 0 0 100px;
	width: 90px;
	border: 1px solid #bbb;
}

#left-container .contact-detailes h3 {
	margin-bottom: 20px;
}

.contact-detailes img {
	margin-bottom: 22px;
}

/*	Footer     		*/
#footer {
	background: #504225;
	height: 35px;
	margin-top: 40px;
	color: #7d693f;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#footer p {
	padding-top: 10px;
}

.foodName{
	color:red;
}

.subCategory{
	color:brown;
}

.price{
	color:brown;
}
.category {
	margin-top: 15px;
	margin-bottom: 15px;
}

.submenu {
	margin-left: 30px;
}

.indentBottom {
	padding-bottom: 5px;
}

.indent {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}